.container {
    background-color: #449ef7;
    height: 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header {
    margin: 0;
    font-size: 24px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 250px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    list-style-type: none;
}

.menu ul li {
    margin-right: 20px;
    cursor: pointer;
}

.menu ul li:hover {
    color: #007bff;
}

.cart-logo {
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    background-image: url('https://as1.ftcdn.net/v2/jpg/05/60/17/66/1000_F_560176615_cUua21qgzxDiLiiyiVGYjUnLSGnVLIi6.webp');
    background-size: cover; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
  }
  
  

@media only screen and (max-width: 768px) {
    .nav {
        flex-direction: column;
        padding: 10px;
    }

    .menu-toggle {
        display: block;
    }

    .menu ul {
        display: none;
        flex-direction: column;
        padding-left: 0;
    }

    .menu ul.active {
        display: flex;
    }

    .menu ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
