<div class="top-container">
    <div class="main">
        <input type="checkbox" id="chk" aria-hidden="true"> 
            <div>
                <form>
                    <label for="chk" aria-hidden="true">Get OTP</label>

                    <input type="email" name="email" placeholder="Email" formControlName="email">
                    <small class="signup-msg">Email</small>
                    <button>Get OTP</button>
                </form>
            </div>
            <div>
                <form>
                    <label for="chk" aria-hidden="true">User Login</label>
                    
                    <input type="number" name="otp" placeholder="OTP" formControlName="otp">
                    <small class="signup-msg">OTP</small>
                    <button>Verify OTP</button>
                </form>
            </div>
    </div>
    
</div>
